# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# next
.next
.next/cache/webpack/client-development/3.pack
.next/cache/webpack/client-development/index.pack
.next/cache/webpack/client-development/index.pack.old
.next/cache/webpack/server-development/2.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
.next/trace
.next/server/pages-manifest.json
.next/static/chunks/webpack.js
.next/cache/webpack/server-development/1.pack
.next/cache/webpack/server-development/3.pack
.next/cache/webpack/server-development/index.pack
.next/cache/webpack/server-development/index.pack.old
